<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrystalExpressLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F2497E1BE88B0600D902B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F249971BE88B0700D902B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F249A21BE88B0700D902B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
